@model WhosGotMyGames.Models.ViewModels.LendingViewModel

@{
    ViewData["Title"] = "Criar";
}

<h2>Emprestar Jogo</h2>

<h4>Dados do empréstimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lending.DateBorrowed" class="control-label"></label>
                <input asp-for="Lending.DateBorrowed" class="form-control" />
                <span asp-validation-for="Lending.DateBorrowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lending.Game.GameId" class="control-label"></label>
                @Html.DropDownListFor(m => m.Lending.Game.GameId, Model.AvailableGames)
            </div>
            <div class="form-group">
                <label asp-for="Lending.Friend.FriendId" class="control-label"></label>
                @Html.DropDownListFor(m => m.Lending.Friend.FriendId, Model.Friends)
            </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
